
<div class="title_container">
        <h2>Nimusoft Registration Form</h2>
      </div>
    </head>
      <div class="row clearfix">
        <div class="">
            <form method="post" action="">
                {% csrf_token %}
                
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
              <input type="email" name="email" placeholder="Email" required />
            </div>
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
              <input type="password" name="password" placeholder="Password" required />
            </div>
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
              <input type="password" name="password" placeholder="Re-type Password" required />
            </div>
            <div class="row clearfix">
              <div class="col_half">
                <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                  <input type="text" name="name" placeholder="First Name" />
                </div>
              </div>
              <div class="col_half">
                <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                  <input type="text" name="name" placeholder="Last Name" required />
                </div>
              </div>
            </div>
                  <div class="input_field radio_option">
                <input type="radio" name="radiogroup1" id="rd1">
                <label for="rd1">Male</label>
                <input type="radio" name="radiogroup1" id="rd2">
                <label for="rd2">Female</label>
                </div>
                <div class="input_field select_option">
                  <select>
                    <option>Select a country</option>
                    <option>Bangladesh</option>
                    <option>India</option>
                  </select>
                  <div class="select_arrow"></div>
                </div>
              <div class="input_field checkbox_option">
                  <input type="checkbox" id="cb1">
                  <label for="cb1">I agree with terms and conditions</label>
              </div>
              <div class="input_field checkbox_option">
                  <input type="checkbox" id="cb2">
                  <label for="cb2">I want to receive the newsletter</label>
              </div>
            <input class="button" type="submit" value="Register" />
          </form>
        </div>
      </div>
    </div>
  </div>
</html>
  {% block content %} 
  

       <h3> Database </h3>

       <table border='1'>
        <tr>
          <th>email</th>
          <th>password</th>
          <th>retype password</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Actions</th>

          
        </tr>
        
        {% for x in contacts %}
          
        <tr>          
            <td>{{ x.email }}</td>
            <td>{{ x.password}}</td>
            <td>{{ x.password}}</td>
            <td>{{ x.name }}</td>
            <td>{{ x.name }}</td>
      
            
            <td><a href="update1/{{ x.id}}"><input class="button" type="button" value="update"/>
            
          
        </tr>
        {% endfor %}
      </table>



{% endblock content %}


